In [ ]:
# read a textfile and count the words

In [2]:
from pyspark.sql import SparkSession
from pyspark import SparkContext

In [3]:
sc=SparkContext(master='local',appName='Revision')

In [10]:
rdd=sc.textFile('test.txt')
rdd.collect()

['Hello', 'World', 'Hello', 'Pyspark', 'Class', 'Welcome', 'Pyspark', 'Class']

In [6]:
rdd1=rdd.map(lambda x: (x,1))

In [7]:
rdd1.collect()

[('Hello', 1),
 ('World', 1),
 ('Hello', 1),
 ('Pyspark', 1),
 ('Class', 1),
 ('Welcome', 1),
 ('Pyspark', 1),
 ('Class', 1)]

In [9]:
rdd2=rdd1.reduceByKey(lambda x,y:x+y)
print(rdd2.collect())

[('Hello', 2), ('World', 1), ('Pyspark', 2), ('Class', 2), ('Welcome', 1)]

In [14]:
data=sc.textFile("sample2.json.json")
print(data.collect())

['{', '    "fruit": "Apple",', '    "size": "Large",', '    "color": "Red"', '}']

In [15]:
data1=data.map(lambda x:(x,1))
print(data1.collect())

[('{', 1), ('    "fruit": "Apple",', 1), ('    "size": "Large",', 1), ('    "color": "Red"', 1), ('}', 1)]

In [16]:
data2=data1.reduceByKey(lambda x,y:x+y)
data2.collect()

[('{', 1),
 ('    "fruit": "Apple",', 1),
 ('    "size": "Large",', 1),
 ('    "color": "Red"', 1),
 ('}', 1)]

In [17]:
from pyspark.sql import SparkSession

In [18]:
spark= SparkSession.builder.appName('day2').getOrCreate()

In [35]:
data= ((1,'John'),(2,'Sam'),(3,'Jimi'))
columns=['id','name']
df=spark.createDataFrame(data,columns)
df.show()
df.printSchema()

+---+----+
| id|name|
+---+----+
|  1|John|
|  2| Sam|
|  3|Jimi|
+---+----+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [31]:
data= ((1,'John'),(2,'Sam'),(3,'Jimi'))
rdd=spark.sparkContext.parallelize(data)

df1=rdd.toDF(columns)
df1.show()

+---+----+
| id|name|
+---+----+
|  1|John|
|  2| Sam|
|  3|Jimi|
+---+----+

In [33]:
data= ((1,'John'),(2,'Sam'),(3,'Jimi'))
columns=['name','columns']

df2=spark.createDataFrame(data,columns)

df2.show()

+----+-------+
|name|columns|
+----+-------+
|   1|   John|
|   2|    Sam|
|   3|   Jimi|
+----+-------+