In [17]:
from pyspark.sql import *
spark= SparkSession.builder.appName('day').getOrCreate()

In [19]:
csv_df= spark.read.format('csv').option('header',True).load("/content/mumbai_csv.csv")

In [20]:
csv_df.show()

+-------------------------------+
|month \tsales\tprofit\tlocation|
+-------------------------------+
|           january\t\t5000\t...|
|           \t200000\t15000\t...|
|           march\t100000\t\t...|
|           april\t\t15000\tm...|
|            may\t100000\t5000\t|
|             \t500000\t\tmumbai|
|           july\t\t5000\tmumbai|
|           august\t100000\t5...|
|              \t600000\t25000\t|
|           october\t100000\t...|
|           november\t\t5000\...|
|           december\t700000\...|
+-------------------------------+

In [9]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('day3').getOrCreate()
csv_df=spark.read.format('csv').option('header','true').load('/content/mumbai_csv.csv')
csv_df.show()

+-------------------------------+
|month \tsales\tprofit\tlocation|
+-------------------------------+
|           january\t\t5000\t...|
|           \t200000\t15000\t...|
|           march\t100000\t\t...|
|           april\t\t15000\tm...|
|            may\t100000\t5000\t|
|             \t500000\t\tmumbai|
|           july\t\t5000\tmumbai|
|           august\t100000\t5...|
|              \t600000\t25000\t|
|           october\t100000\t...|
|           november\t\t5000\...|
|           december\t700000\...|
+-------------------------------+

In [15]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('day3').getOrCreate()
from pyspark.sql.functions import *
data= ((1, 'charan',28),(2,'dheeraj',17),(3,'Ram',61))
columns= ['id','name','age']

df= spark.createDataFrame(data,columns)
df.show()

results= df.withColumn('status', expr(""" case
                                          when age<=17 then 'minor'
                                          when age>=18 and age<=60 then 'major'
                                          else 'sr_citizen'
 end """))

results.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1| charan| 28|
|  2|dheeraj| 17|
|  3|    Ram| 61|
+---+-------+---+

+---+-------+---+----------+
| id|   name|age|    status|
+---+-------+---+----------+
|  1| charan| 28|     major|
|  2|dheeraj| 17|     minor|
|  3|    Ram| 61|sr_citizen|
+---+-------+---+----------+

In [14]:
results= df.withColumn('status', when (df.age<=17, 'minor').when((df.age>=18)&(df.age<=60),'major').otherwise('srCitizen'))

results.show()

+---+-------+---+---------+
| id|   name|age|   status|
+---+-------+---+---------+
|  1| charan| 28|    major|
|  2|dheeraj| 17|    minor|
|  3|    Ram| 61|srCitizen|
+---+-------+---+---------+

In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('day1').getOrCreate()

data= ((101,'aaaa', 87),(104,'bbbb',99),(109,'cccc',60))
columns= ['id','name','marks']

df= spark.createDataFrame(data,columns)
df.show()
df.printSchema()

+---+----+-----+
| id|name|marks|
+---+----+-----+
|101|aaaa|   87|
|104|bbbb|   99|
|109|cccc|   60|
+---+----+-----+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- marks: long (nullable = true)

In [2]:
data= ((1,'charan'),(2,'bharat'),(3,'dheeraj'))
columns= ['id','name']

rdd= spark.sparkContext.parallelize(data)
df2= rdd.toDF(columns)
df2.show()

+---+-------+
| id|   name|
+---+-------+
|  1| charan|
|  2| bharat|
|  3|dheeraj|
+---+-------+

In [3]:
from pyspark.sql.types import StructType, StructField,StringType,IntegerType,DoubleType

schema= StructType([
    StructField('id',IntegerType(),False),
    StructField('name', StringType(), True)
    ])

df3= spark.createDataFrame(data, schema=schema)
df3.printSchema()

root
 |-- id: integer (nullable = false)
 |-- name: string (nullable = true)

In [4]:
columns= StructType([
    StructField('id',IntegerType(),False),
    StructField('name',StringType(),False)
  ])

csv_df=spark.read.format('csv').option('header','true').schema(columns).load('/content/source.csv')
csv_df.show()
csv_df.printSchema()

+---+----+
| id|name|
+---+----+
|  1|   A|
|  2|   B|
|  3|   C|
|  4|   D|
+---+----+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [5]:
par_df= spark.read.format('parquet').load('/content/data.parquet')

par_df.show()
par_df.printSchema()

+--------+----------+--------+----------------+
|      id|     tdate|category|         product|
+--------+----------+--------+----------------+
|00000000|06-26-2011|Exercise|Gymnastics Rings|
|00000002|06-01-2011|Exercise|Gymnastics Rings|
+--------+----------+--------+----------------+

root
 |-- id: string (nullable = true)
 |-- tdate: string (nullable = true)
 |-- category: string (nullable = true)
 |-- product: string (nullable = true)

In [6]:
orc_df=spark.read.format('orc').option('header','true').load('/content/data.orc')

orc_df.show()
orc_df.printSchema()

+----------+---------+--------------------+------------------+-----------+----------+-----+-----+---+------------+------------+--------------------+--------------------+
|first_name|last_name|        company_name|           address|       city|    county|state|  zip|age|      phone1|      phone2|               email|                 web|
+----------+---------+--------------------+------------------+-----------+----------+-----+-----+---+------------+------------+--------------------+--------------------+
|   Solange|   Shinko|   Mosocco, Ronald A|       426 Wolf St|   Metairie| Jefferson|   LA|70002| 21|504-979-9175|504-265-8174|  solange@shinko.com|http://www.mosocc...|
|    Arlene|  Klusman|Beck Horizon Buil...|        3 Secor Rd|New Orleans|   Orleans|   LA|70112| 20|504-710-5840|504-946-1807|arlene_klusman@gm...|http://www.beckho...|
|     Larae|   Gudroe|Lehigh Furn Divsn...| 6651 Municipal Rd|      Houma|Terrebonne|   LA|70360| 33|985-890-7262|985-261-5783|larae_gudroe@gmai...|http://www.lehigh...|
| Willodean|Konopacki|            Magnuson| 55 Hawthorne Blvd|  Lafayette| Lafayette|   LA|70506| 22|337-253-8384|337-774-7564|willodean_konopac...|http://www.magnus...|
|  Terrilyn|Rodeigues|      Stuart J Agins|    3718 S Main St|New Orleans|   Orleans|   LA|70130| 33|504-463-4384|504-635-8518|terrilyn.rodeigue...|http://www.stuart...|
|  Kayleigh|     Lace|Dentalaw Divsn Hl...|43 Huey P Long Ave|  Lafayette| Lafayette|   LA|70508| 11|337-740-9323|337-751-2326|kayleigh.lace@yah...|http://www.dental...|
|     Jutta|    Amyot|National Medical ...|      49 N Mays St|  Broussard| Lafayette|   LA|70518| 15|337-515-1438|337-991-8070|  jamyot@hotmail.com|http://www.nation...|
|  Cordelia| Storment|  Burrows, Jon H Esq|    393 Hammond Dr|  Lafayette| Lafayette|   LA|70506| 16|337-566-6001|337-255-3427|cordelia_storment...|http://www.burrow...|
+----------+---------+--------------------+------------------+-----------+----------+-----+-----+---+------------+------------+--------------------+--------------------+

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- company_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- county: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zip: string (nullable = true)
 |-- age: string (nullable = true)
 |-- phone1: string (nullable = true)
 |-- phone2: string (nullable = true)
 |-- email: string (nullable = true)
 |-- web: string (nullable = true)

In [9]:
avro_df= spark.read.format('avro').option('header','true').load('/content/data.avro')

avro_df.show()
avro_df.printSchema()

AnalysisException: Failed to find data source: avro. Avro is built-in but external data source module since Spark 2.4. Please deploy the application as per the deployment section of Apache Avro Data Source Guide.

In [14]:
from pyspark.sql.functions import min,max,avg,col,expr

orc_df= spark.read.format('orc').load('/content/data.orc')

df1= orc_df.withColumn('age', col('age').cast(IntegerType()))
#df1.printSchema()

df= orc_df.agg(min('age').alias('min_age'),
               max('age').alias('max_age'),
               avg('age').alias('avg_age'))

df.show()

orc_df.filter(orc_df.city.contains('New')).show()

+-------+-------+-------+
|min_age|max_age|avg_age|
+-------+-------+-------+
|     11|     33| 21.375|
+-------+-------+-------+

+----------+---------+--------------------+--------------+-----------+-------+-----+-----+---+------------+------------+--------------------+--------------------+
|first_name|last_name|        company_name|       address|       city| county|state|  zip|age|      phone1|      phone2|               email|                 web|
+----------+---------+--------------------+--------------+-----------+-------+-----+-----+---+------------+------------+--------------------+--------------------+
|    Arlene|  Klusman|Beck Horizon Buil...|    3 Secor Rd|New Orleans|Orleans|   LA|70112| 20|504-710-5840|504-946-1807|arlene_klusman@gm...|http://www.beckho...|
|  Terrilyn|Rodeigues|      Stuart J Agins|3718 S Main St|New Orleans|Orleans|   LA|70130| 33|504-463-4384|504-635-8518|terrilyn.rodeigue...|http://www.stuart...|
+----------+---------+--------------------+--------------+-----------+-------+-----+-----+---+------------+------------+--------------------+--------------------+

In [24]:
orc_df= orc_df.withColumnRenamed('zip','pincode')

orc_df= orc_df.select('first_name','phone1','company_name','pincode')

orc_df.show()

+----------+------------+--------------------+-------+
|first_name|      phone1|        company_name|pincode|
+----------+------------+--------------------+-------+
|   Solange|504-979-9175|   Mosocco, Ronald A|  70002|
|    Arlene|504-710-5840|Beck Horizon Buil...|  70112|
|     Larae|985-890-7262|Lehigh Furn Divsn...|  70360|
| Willodean|337-253-8384|            Magnuson|  70506|
|  Terrilyn|504-463-4384|      Stuart J Agins|  70130|
|  Kayleigh|337-740-9323|Dentalaw Divsn Hl...|  70508|
|     Jutta|337-515-1438|National Medical ...|  70518|
|  Cordelia|337-566-6001|  Burrows, Jon H Esq|  70506|
+----------+------------+--------------------+-------+

In [20]:
orc_df.createOrReplaceTempView('users')

results= spark.sql('select min(age) min_age, max(age) max_age from users')

results.show()

orc_df.count()
orc_df.printSchema()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `age` cannot be resolved. Did you mean one of the following? [`phone1`, `pincode`, `first_name`, `company_name`].; line 1 pos 11;
'Project ['min('age) AS min_age#415, 'max('age) AS max_age#416]
+- SubqueryAlias users
   +- View (`users`, [first_name#225,phone1#234,company_name#227,pincode#370])
      +- Project [first_name#225, phone1#234, company_name#227, pincode#370]
         +- Project [first_name#225, phone1#234, company_name#227, pincode#370]
            +- Project [first_name#225, last_name#226, company_name#227, address#228, city#229, county#230, state#231, zip#232 AS pincode#370, age#233, phone1#234, phone2#235, email#236, web#237]
               +- Relation [first_name#225,last_name#226,company_name#227,address#228,city#229,county#230,state#231,zip#232,age#233,phone1#234,phone2#235,email#236,web#237] orc