In [10]:
import pyspark

In [11]:
import pandas as pd
df= pd.read_csv('/content/employee.csv')
df.head()

  emp_id\tname\tsalary\tloc
0   1\tmanish\t20000\tindia
1         2\thari\t5000\tUK
2         3\trahul\t\tindia
3      4\tnil\t20000\tindia
4         5\tsil\t24000\tUK

In [12]:
type(df)

pandas.core.frame.DataFrame

In [12]:
from pyspark.sql import *
spark= SparkSession.builder.appName('Practice').getOrCreate()

In [8]:
spark

In [18]:
df_pyspark= spark.read.option('header','True').csv('employee.csv')
df_pyspark.show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     2|  hari|  5000|   UK|
|     3| rahul| 10000|india|
|     4|   nil| 20000|india|
|     5|   sil| 24000|   UK|
|     6|  neha| 17000|   UK|
+------+------+------+-----+

In [19]:
df_pyspark

DataFrame[emp_id: string, name: string, salary: string, loc: string]

In [20]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [23]:
df_pyspark.head(5)

[Row(emp_id='1', name='manish', salary='20000', loc='india'),
 Row(emp_id='2', name='hari', salary='5000', loc='UK'),
 Row(emp_id='3', name='rahul', salary='10000', loc='india'),
 Row(emp_id='4', name='nil', salary='20000', loc='india'),
 Row(emp_id='5', name='sil', salary='24000', loc='UK')]

In [24]:
df_pyspark.printSchema()

root
 |-- emp_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- loc: string (nullable = true)

In [2]:
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName('DataFrame').getOrCreate()

In [38]:
# Read the dataset

df.py_spark= spark.read.option('header','True').csv('employee.csv',inferSchema= True)

In [39]:
# check the schema

df_pyspark.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- loc: string (nullable = true)

In [13]:
df_pyspark = spark.read.csv('employee.csv',header= True, inferSchema= True)
df_pyspark.show()

+-------------------------+
|emp_id\tname\tsalary\tloc|
+-------------------------+
|     1\tmanish\t20000\...|
|        2\thari\t5000\tUK|
|        3\trahul\t\tindia|
|     4\tnil\t20000\tindia|
|        5\tsil\t24000\tUK|
|         6\tneha\t17000\t|
|                 \t\t35\t|
+-------------------------+

In [37]:
df_pyspark.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- loc: string (nullable = true)

In [44]:
df_pyspark= spark.read.format('csv').option('header','True').option('inferSchema','True').\
            load('/content/employee.csv')

In [45]:
df_pyspark.show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     2|  hari|  5000|   UK|
|     3| rahul| 10000|india|
|     4|   nil| 20000|india|
|     5|   sil| 24000|   UK|
|     6|  neha| 17000|   UK|
+------+------+------+-----+

In [46]:
df_pyspark.printSchema()

root
 |-- emp_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- loc: string (nullable = true)

In [47]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [48]:
# selecting columns and indexing

df_pyspark.columns

['emp_id', 'name', 'salary', 'loc']

In [49]:
df_pyspark.head(4)

[Row(emp_id=1, name='manish', salary=20000, loc='india'),
 Row(emp_id=2, name='hari', salary=5000, loc='UK'),
 Row(emp_id=3, name='rahul', salary=10000, loc='india'),
 Row(emp_id=4, name='nil', salary=20000, loc='india')]

In [54]:
type(df_pyspark.select('name'))

pyspark.sql.dataframe.DataFrame

In [56]:
df_pyspark.select('emp_id','name')

DataFrame[emp_id: int, name: string]

In [57]:
df_pyspark.dtypes

[('emp_id', 'int'), ('name', 'string'), ('salary', 'int'), ('loc', 'string')]

In [59]:
df_pyspark.describe().show()

+-------+------------------+----+-----------------+-----+
|summary|            emp_id|name|           salary|  loc|
+-------+------------------+----+-----------------+-----+
|  count|                 6|   6|                6|    6|
|   mean|               3.5|NULL|          16000.0| NULL|
| stddev|1.8708286933869707|NULL|7127.411872482185| NULL|
|    min|                 1|hari|             5000|   UK|
|    max|                 6| sil|            24000|india|
+-------+------------------+----+-----------------+-----+

In [62]:
# adding columns in dataframes

df_pyspark=df_pyspark.withColumn('salary after 2 years',df_pyspark['salary']+5000)

In [63]:
df_pyspark.show()

+------+------+------+-----+--------------------+
|emp_id|  name|salary|  loc|salary after 2 years|
+------+------+------+-----+--------------------+
|     1|manish| 20000|india|               25000|
|     2|  hari|  5000|   UK|               10000|
|     3| rahul| 10000|india|               15000|
|     4|   nil| 20000|india|               25000|
|     5|   sil| 24000|   UK|               29000|
|     6|  neha| 17000|   UK|               22000|
+------+------+------+-----+--------------------+

In [64]:
# drop columns in dataframes

df_pyspark= df_pyspark.drop('salary after 2 years')

In [65]:
df_pyspark.show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     2|  hari|  5000|   UK|
|     3| rahul| 10000|india|
|     4|   nil| 20000|india|
|     5|   sil| 24000|   UK|
|     6|  neha| 17000|   UK|
+------+------+------+-----+

In [7]:
# rename a column

df_pyspark= df_pyspark.withColumnRenamed('name','new_name')
df_pyspark.show()

NameError: name 'df_pyspark' is not defined

In [4]:
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName('Practice').getOrCreate()

In [14]:
df_pyspark= spark.read.csv('fileN.csv',header=True, inferSchema= True)

In [15]:
df_pyspark.show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     2|  hari|  5000|   UK|
|     3| rahul|  NULL|india|
|     4|   nil| 20000|india|
|     5|   sil| 24000|   UK|
|     6|  neha| 17000| NULL|
|  NULL|  NULL|  NULL| NULL|
|  NULL|  NULL|    35| NULL|
+------+------+------+-----+

In [16]:
df_pyspark.drop('name').show()

+------+------+-----+
|emp_id|salary|  loc|
+------+------+-----+
|     1| 20000|india|
|     2|  5000|   UK|
|     3|  NULL|india|
|     4| 20000|india|
|     5| 24000|   UK|
|     6| 17000| NULL|
|  NULL|  NULL| NULL|
|  NULL|    35| NULL|
+------+------+-----+

In [77]:
df_pyspark.show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     2|  hari|  5000|   UK|
|     3| rahul|  NULL|india|
|     4|   nil| 20000|india|
|     5|   sil| 24000|   UK|
|     6|  neha| 17000| NULL|
|  NULL|  NULL|  NULL| NULL|
|  NULL|  NULL|    35| NULL|
+------+------+------+-----+

In [79]:
df_pyspark.na.drop().show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     2|  hari|  5000|   UK|
|     4|   nil| 20000|india|
|     5|   sil| 24000|   UK|
+------+------+------+-----+

In [81]:
# any == how

df_pyspark.na.drop(how= 'any').show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     2|  hari|  5000|   UK|
|     4|   nil| 20000|india|
|     5|   sil| 24000|   UK|
+------+------+------+-----+

In [83]:
df_pyspark.na.drop(how= 'all').show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     2|  hari|  5000|   UK|
|     3| rahul|  NULL|india|
|     4|   nil| 20000|india|
|     5|   sil| 24000|   UK|
|     6|  neha| 17000| NULL|
|  NULL|  NULL|    35| NULL|
+------+------+------+-----+

In [13]:
df_pyspark.na.drop(how= 'any', thresh=1).show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     2|  hari|  5000|   UK|
|     3| rahul|  NULL|india|
|     4|   nil| 20000|india|
|     5|   sil| 24000|   UK|
|     6|  neha| 17000| NULL|
|  NULL|  NULL|    35| NULL|
+------+------+------+-----+

In [92]:
df_pyspark.na.drop(how= 'any', subset=['salary']).show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     2|  hari|  5000|   UK|
|     4|   nil| 20000|india|
|     5|   sil| 24000|   UK|
|     6|  neha| 17000| NULL|
|  NULL|  NULL|    35| NULL|
+------+------+------+-----+

In [98]:
# fill the missing value

df_pyspark.na.fill('missing value').show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     2|  hari|  5000|   UK|
|     3| rahul|  NULL|india|
|     4|   nil| 20000|india|
|     5|   sil| 24000|   UK|
|     6|  neha| 17000| NULL|
|  NULL|  NULL|  NULL| NULL|
|  NULL|  NULL|    35| NULL|
+------+------+------+-----+

In [105]:
df_pyspark.na.fill('missing value',['loc']).show()

+------+------+------+-------------+
|emp_id|  name|salary|          loc|
+------+------+------+-------------+
|     1|manish| 20000|        india|
|     2|  hari|  5000|           UK|
|     3| rahul|  NULL|        india|
|     4|   nil| 20000|        india|
|     5|   sil| 24000|           UK|
|     6|  neha| 17000|missing value|
|  NULL|  NULL|  NULL|missing value|
|  NULL|  NULL|    35|missing value|
+------+------+------+-------------+

In [109]:
df_pyspark.na.drop(how='any', subset=['loc','salary']).show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     2|  hari|  5000|   UK|
|     4|   nil| 20000|india|
|     5|   sil| 24000|   UK|
+------+------+------+-----+

In [115]:
from pyspark.ml.feature import Imputer
imputer= Imputer(

    inputCols= ['emp_id','salary'],
    outputCols= ['{}_imputed'.format(c) \
                 for c in ['emp_id','salary']]
).setStrategy('mean')

In [116]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+------+------+-----+--------------+--------------+
|emp_id|  name|salary|  loc|emp_id_imputed|salary_imputed|
+------+------+------+-----+--------------+--------------+
|     1|manish| 20000|india|             1|         20000|
|     2|  hari|  5000|   UK|             2|          5000|
|     3| rahul|  NULL|india|             3|         14339|
|     4|   nil| 20000|india|             4|         20000|
|     5|   sil| 24000|   UK|             5|         24000|
|     6|  neha| 17000| NULL|             6|         17000|
|  NULL|  NULL|  NULL| NULL|             3|         14339|
|  NULL|  NULL|    35| NULL|             3|            35|
+------+------+------+-----+--------------+--------------+

In [19]:
from pyspark.ml.feature import Imputer

imputer= Imputer (
    inputCols= ['emp_id','salary'],
    outputCols= ['{}_imputed'.format(c) for c in ['emp_id','salary']]
).setStrategy('median')

imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+------+------+-----+--------------+--------------+
|emp_id|  name|salary|  loc|emp_id_imputed|salary_imputed|
+------+------+------+-----+--------------+--------------+
|     1|manish| 20000|india|             1|         20000|
|     2|  hari|  5000|   UK|             2|          5000|
|     3| rahul|  NULL|india|             3|         17000|
|     4|   nil| 20000|india|             4|         20000|
|     5|   sil| 24000|   UK|             5|         24000|
|     6|  neha| 17000| NULL|             6|         17000|
|  NULL|  NULL|  NULL| NULL|             3|         17000|
|  NULL|  NULL|    35| NULL|             3|            35|
+------+------+------+-----+--------------+--------------+

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark= SparkSession.builder.appName('Practice').getOrCreate()

In [7]:
# Filter operation

df_pyspark= spark.read.csv('fileN.csv', header= True, inferSchema= True)
df_pyspark.show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     2|  hari|  5000|   UK|
|     3| rahul|  NULL|india|
|     4|   nil| 20000|india|
|     5|   sil| 24000|   UK|
|     6|  neha| 17000| NULL|
|  NULL|  NULL|  NULL| NULL|
|  NULL|  NULL|    35| NULL|
+------+------+------+-----+

In [8]:
df_pyspark.na.drop(how= 'any', subset= ['loc']).show

In [9]:
df_pyspark.na.drop(how= 'all').show

In [10]:
# find the salary less than 20K

df_pyspark.filter('salary<=20000').show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     2|  hari|  5000|   UK|
|     4|   nil| 20000|india|
|     6|  neha| 17000| NULL|
|  NULL|  NULL|    35| NULL|
+------+------+------+-----+

In [12]:
df_pyspark.filter('salary<=20000').select('emp_id','name').na.drop(how= 'all').show()

+------+------+
|emp_id|  name|
+------+------+
|     1|manish|
|     2|  hari|
|     4|   nil|
|     6|  neha|
+------+------+

In [17]:
df_pyspark.filter((df_pyspark['salary']>=15000) & \
                 (df_pyspark['salary']<=20000)).show()

+------+------+------+-----+
|emp_id|  name|salary|  loc|
+------+------+------+-----+
|     1|manish| 20000|india|
|     4|   nil| 20000|india|
|     6|  neha| 17000| NULL|
+------+------+------+-----+

In [18]:
# group By and Aggregate functions

from pyspark.sql import SparkSession
spark= SparkSession.builder.appName('dataframe').getOrCreate()

In [20]:
df_pyspark= spark.read.csv('source.csv', header= True, inferSchema= True)
df_pyspark.show()

+---------+------------+------+
|     Name|  Department|Salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [21]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [26]:
df_pyspark.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [27]:
df_pyspark.groupBy('department').sum().show()

+------------+-----------+
|  department|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [28]:
df_pyspark.groupBy('department').mean().show()

+------------+-----------+
|  department|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [29]:
df_pyspark.groupBy('department').count().show()

+------------+-----+
|  department|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [32]:
df_pyspark.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+

In [37]:
training= spark.read.csv('test1.csv',header= True, inferSchema= True)
training.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    krish| 31|        10| 30000|
|sudhanshu| 30|         8| 25000|
|    sunny| 29|         4| 20000|
|     paul| 24|         3| 20000|
|   harsha| 21|         1| 15000|
|  shubham| 23|         2| 18000|
+---------+---+----------+------+

In [36]:
training.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [43]:

training.columns

['Name', 'age', 'Experience', 'Salary']

In [ ]:
## [age, experience]---- new feature-- independent feature

In [48]:
from pyspark.ml.feature import VectorAssembler

In [58]:
featureassembler= VectorAssembler(inputCols= ['age','Experience'],outputCol= 'independent features')

In [59]:
output= featureassembler.transform(training)

In [56]:
output.show()

+---------+---+----------+------+--------------------+
|     Name|age|Experience|Salary|independent features|
+---------+---+----------+------+--------------------+
|    krish| 31|        10| 30000|         [31.0,10.0]|
|sudhanshu| 30|         8| 25000|          [30.0,8.0]|
|    sunny| 29|         4| 20000|          [29.0,4.0]|
|     paul| 24|         3| 20000|          [24.0,3.0]|
|   harsha| 21|         1| 15000|          [21.0,1.0]|
|  shubham| 23|         2| 18000|          [23.0,2.0]|
+---------+---+----------+------+--------------------+

In [60]:
finalized_data= output.select('independent features','salary')

In [61]:
finalized_data.show()

+--------------------+------+
|independent features|salary|
+--------------------+------+
|         [31.0,10.0]| 30000|
|          [30.0,8.0]| 25000|
|          [29.0,4.0]| 20000|
|          [24.0,3.0]| 20000|
|          [21.0,1.0]| 15000|
|          [23.0,2.0]| 18000|
+--------------------+------+