In [3]:
from pyspark import sparkcontext
sc= sparkcontext('local',appName: 'RDD_revision').getorcreate()

SyntaxError: invalid syntax (ipython-input-787670459.py, line 2)

In [10]:
from pyspark import SparkContext
sc= SparkContext(master="local",appName= "RDD_revision")

In [12]:
list1= [12,15,23,45,101,202]
print(type(list1))

rdd1=sc.parallelize(list1)
print(type(rdd1))

<class 'list'>
<class 'pyspark.rdd.RDD'>

In [15]:
rdd2= rdd1.filter(lambda x:x>=50)
print(rdd2)
rdd2.collect()

PythonRDD[3] at RDD at PythonRDD.scala:53

[101, 202]

In [16]:
rdd2= rdd1.map(lambda x:x-20)
rdd2.collect()

[-8, -5, 3, 25, 81, 182]

In [3]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [4]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

### Read a csv File

In [7]:
df= spark.read.csv('delhi_csv.csv',header='True')

In [10]:
df.show()

+---------+------+------+--------+
|   month | sales|profit|location|
+---------+------+------+--------+
|  january|100000|  5000|   delhi|
| february|200000| 15000|   delhi|
|    march|100000|  5000|   delhi|
|    april|300000| 15000|   delhi|
|      may|100000|  5000|   delhi|
|     june|500000| 56000|   delhi|
|     july|100000|  5000|   delhi|
|   august|100000|  5000|   delhi|
|september|600000| 25000|   delhi|
|  october|100000|  5000|   delhi|
| november|100000|  5000|   delhi|
| december|700000| 35000|   delhi|
+---------+------+------+--------+

In [11]:
df=spark.read.csv('delhi_csv.csv',header='True')

In [16]:
list1= [1,2,2,4,5,6,7,9]
print(type(list1))

<class 'list'>

##Change to RDD

In [25]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('RDD_revision').getOrCreate()
sc=spark.sparkContext
list1= [1,2,2,4,5,6,7,9]
print(type(list1))
rdd1= sc.parallelize(list1)
print(type(rdd1))

<class 'list'>
<class 'pyspark.rdd.RDD'>

In [ ]:
##create new rdd as >=2 from rdd1

In [28]:
rdd2= rdd1.filter(lambda x:x>2)
rdd2.collect()

[4, 5, 6, 7, 9]

In [30]:
list2= [24,25,48,69,12,40,29]
rdd1=sc.parallelize(list2)
rdd2= rdd1.filter(lambda x: x<50)
rdd2.collect()

[24, 25, 48, 12, 40, 29]

In [ ]:
##create a new by subtracting 10 from each value from rdd1

In [31]:
rdd2=rdd1.map(lambda x:x-10)
rdd2.collect()

[14, 15, 38, 59, 2, 30, 19]

In [35]:
data= ['pyspark session is going on','rdd concept started']
rdd1=sc.parallelize(data)

print("map output")
rdd2=rdd1.map(lambda x:x.split())
print(rdd2.collect())

print("flatmap output")
rdd3=rdd1.flatMap(lambda x:x.split())

rdd3.collect()

map output
[['pyspark', 'session', 'is', 'going', 'on'], ['rdd', 'concept', 'started']]
flatmap output

['pyspark', 'session', 'is', 'going', 'on', 'rdd', 'concept', 'started']

In [ ]:
##count(),first(),take()

In [42]:
list1= [10,20,30,40,50,0,1,2,3,4,5,6,7,8]
rdd1=sc.parallelize(list1)

print(rdd1.count())
print(rdd1.first())
print(rdd1.take(2))
print(rdd1.take(5))

14
10
[10, 20]
[10, 20, 30, 40, 50]

In [45]:
rdd2=rdd1.sortBy(lambda x:x,ascending='True')
rdd2.collect()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 20, 30, 40, 50]

In [56]:
list1=[28,12,36,22,11,19,30]
rdd1=sc.parallelize(list1)

rdd2=rdd1.sortBy(lambda x:x, ascending= False)

rdd2.collect()

[36, 30, 28, 22, 19, 12, 11]

In [58]:
rdd2=rdd1.fold(0,lambda x,y:x+y)
print(rdd2)

158